<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="Model1" connectionString="data source=DESKTOP-IOK2NSN\PHILONG;initial catalog=do_an_windown;integrated security=True;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="desktop-iok2nsn\philong.do_an_windown.dbo" connectionString="XpoProvider=MSSqlServer;data source=DESKTOP-IOK2NSN\PHILONG;integrated security=SSPI;initial catalog=do_an_windown;Encrypt=true" />
  </connectionStrings>
</configuration>